/* Style.css */
/* Style.css */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */



/* 
  .titleNow {
    font-family: 'My Custom Font', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }
   */
